a {
    text-decoration: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Аккордион */
.accordion-item,
.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed),
.btn-primary {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    color:rgb(19, 73, 28);
  }

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed)  {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.btn-primary {
    font-weight: bold;
}


/*меню смены языка*/
.lang-menu {
    position: fixed;
    top:0;
    left: 0;
}

 .img-lang {
    height: 15px;
}

.dropdown-menu {
    min-width: 44px;
    width: 44px;
   
}

.dropdown-item{
    padding: 10px;
}

.btn {
    padding: 5px;
}

.btn-secondary, 
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
} 
/******************************************************/
